*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html , body{
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}


main{
    justify-content: center;
    padding: 20px;
    height: 40%;
    width: 70%;
    display: flex;
    gap: 20px;
    background-color: rgb(96, 95, 95);
    border-radius: 20px;
}

.box{
    /* display: flex;
    justify-content: center; */
    height: 40%;
    width: 30%;
    background-color: red;
}